In [1]:
import pandas as pd

In [5]:
#load data
df = pd.read_csv('weather.csv')
#check dataframe

print('The shape:', df.shape)
print(df.info())

The shape: (16743, 14)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16743 entries, 0 to 16742
Data columns (total 14 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Data.Precipitation         16743 non-null  float64
 1   Date.Full                  16743 non-null  object
 2   Date.Month                 16743 non-null  int64
 3   Date.Week of               16743 non-null  int64
 4   Date.Year                  16743 non-null  int64
 5   Station.City               16743 non-null  object
 6   Station.Code               16743 non-null  object
 7   Station.Location           16743 non-null  object
 8   Station.State              16743 non-null  object
 9   Data.Temperature.Avg Temp  16743 non-null  int64
 10  Data.Temperature.Max Temp  16743 non-null  int64
 11  Data.Temperature.Min Temp  16743 non-null  int64
 12  Data.Wind.Direction        16743 non-null  int64
 13  Data.Wind.Speed            16743 non-null  float64
dtypes: float64(2), int64(7), object(5)
memory usage: 1.8+ MB
None

In [6]:
df.head()

,Data.Precipitation,Date.Full,Date.Month,Date.Week of,Date.Year,Station.City,Station.Code,Station.Location,Station.State,Data.Temperature.Avg Temp,Data.Temperature.Max Temp,Data.Temperature.Min Temp,Data.Wind.Direction,Data.Wind.Speed
0,0.00,2016-01-03,1,3,2016,Birmingham,BHM,"Birmingham, AL",Alabama,39,46,32,33,4.33
1,0.00,2016-01-03,1,3,2016,Huntsville,HSV,"Huntsville, AL",Alabama,39,47,31,32,3.86
2,0.16,2016-01-03,1,3,2016,Mobile,MOB,"Mobile, AL",Alabama,46,51,41,35,9.73
3,0.00,2016-01-03,1,3,2016,Montgomery,MGM,"Montgomery, AL",Alabama,45,52,38,32,6.86
4,0.01,2016-01-03,1,3,2016,Anchorage,ANC,"Anchorage, AK",Alaska,34,38,29,19,7.80

16738    2017-01-01
16739    2017-01-01
16740    2017-01-01
16741    2017-01-01
16742    2017-01-01
Name: Date.Full, dtype: object